body {
    background  : #DDDDDD;
    margin      : 0px;
}

.page {
    padding     : 8px;
}

.paste {
    padding     : 8px;
    border-color: black;
}

.paste-content {
    text-align  : left;
    padding     : 8px;
    border-radius: 25px;
}

.paste-language {
    float: right;
    margin: 10px 10px;
}

.microlight {
    font-family     : monospace;
    white-space     : pre;
    background-color: #FFFFDD;
    color           : #052C36;
}
