body {
  background: black;
}

.header {
  background: linear-gradient(#AEFFEA, #AEFFEA);
  height: 100px;
  text-align: center;
}

.content {
  background: linear-gradient(#AEFFEA, #FFAAAA);
  height: 600px;
  text-align: center;
}

.footer {
  background: linear-gradient(#FFAAAA, #FFAAAA);
  height: 100px;
  text-align: center;
}
